* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
h1{
    text-transform: capitalize;
    text-align: center;
    columns: #ecf0f1;
    text-shadow: 1px 2px 3px #2980b9;
    font-size: 2.1rem;
}
h2{
    text-align: center;
}
textarea{
    background-color: rgb(40, 52, 117);
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    border-radius: 10px 10px 0 0;
    border: 20px solid #5b25be;
    color: white;
    font-size: 1.3rem;
}
.mainbtn{
    padding: 10px 20px;
    border-radius: 20px;
    border: 5px solid #2980b9;
    font-size: 1rem;
}
.mainDiv {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(110, 110, 204);

}

.centerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
